.speaker(class=type)
    .title= time + ' - '
        strong=title
    .descrption=desc
    if speakers && speakers[0]
        - var speaker = allSpeakers[speakers[0]];

        a.twitter(href='https://twitter.com/' + speaker.twitter)=twitter
            img(src=speaker.image, height='100px')


        .name=speaker.name
        - var twitter = '@' + speaker.twitter
